<div class="row mb-3" data-comment-id="comment_<%= comment.id %>">
  <div class="col-sm-1">
    <%= image_tag avatar_url_for(comment.user, size: 48), class: "rounded-circle" %>
  </div>
  <div class="col-sm-11">
    <small class="float-right text-muted">
      <%= link_to "Delete", post_comment_path(comment.commentable, comment), method: :delete, remote: true, class: "text-muted", data: { confirm: "Are you sure?" } %>
    </small>
    <small><em><strong>Posted by: <%= comment.user.username %></strong> on <%= comment.created_at %></em></small>
    <p><%= comment.body %></p>
  </div>
</div>
