<div class="col-sm-4">
  <div class="card">
    <div class="card-img-top">
      <%= link_to user_post_path(post.user.username, post.id) do %>
        <%= image_tag post.image.variant(resize_to_fill: [250, 250]), style: "width: 100%" %>
      <% end %>
    </div>
    <div class="card-body card-text mx-auto">
      <p><% post.tag_list.each do |tag| %>
        <%= link_to tag, tagged_posts_path(tag: tag) %>
      <% end %></p>
      <h5>
        <%= image_tag avatar_url_for(post.user, size: 48), class: "rounded-circle" %>
        <%= link_to post.user.username, user_path(post.user.username) %>
      </h5>
    </div>
  </div>
</div>
